html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.add-transaction-btn {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container-nav {
    margin: 0 200px;
}

.container-body {
    padding: 0 200px;
}

.buttons-cell {
    text-align: end;
}

.form-label {
    padding-left: 20px !important;
}