@model Budget.Mvc.Models.ViewModels.TransactionViewModel
<div class="modal-content">

    <form asp-action="DeleteCategory" id="deleteTransactionForm" method="post" class="form-horizontal" role="form">

      

    </form>

</div>
