@model Budget.Mvc.Models.ViewModels.TransactionViewModel
<form asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="form-floating col-lg-3 col-md-3">
            <select asp-for="SearchParameters.CategoryId" class="form-select" placeholder="Category">
                <option></option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <label asp-for="SearchParameters.CategoryId" class="form-label">Category</label>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-floating col-lg-3 col-md-3">
            <input type="text" asp-for="SearchParameters.StartDate" onfocus="(this.type='date')" class="form-control"/>
            <label asp-for="SearchParameters.StartDate" class="form-label"></label>
            <span asp-validation-for="SearchParameters.StartDate" class="text-danger"></span>
        </div>
        <div class="form-floating col-lg-3 col-md-3">
            <input type="text" asp-for="SearchParameters.EndDate" onfocus="(this.type='date')" class="form-control"/>
            <label asp-for="SearchParameters.EndDate" class="form-label"></label>
            <span asp-validation-for="SearchParameters.EndDate" class="text-danger"></span>
        </div>

        <div class="col-lg-3 col-md-3">
            <button type="submit" id="form-button" class="btn btn-success">Filter</button>
        </div>
    </div>
</form>