@model Budget.Mvc.Models.ViewModels.TransactionViewModel

<button id="addCategoryBtn">Add Category</button>


<div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="_addTransaction" />
    </div>
</div>

@section scripts{
    <script>
        $("#addCategoryBtn").on("click", function () {
            console.log('clicked1');
            $("#addCategoryModal").modal("show");
        });
            // $("#addCategoryModal").modal("show");

    </script>
}